* {
  margin: 0;
  padding: 0;
}

/* Banner Component CSS */

.banner-container .row .col-lg-9 p {
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 400;
  color: #fafafa;
  text-align: end;
  padding-right: 23px;
  max-width: 1012px;
}

.banner-container .row .col-lg-9 p span {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  text-decoration: underline #fafafa;
  color: #fafafa;
}

.banner-container .row .col-6 p {
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 400;
  color: #fafafa;
}

.banner-container .row .image-container img {
  position: relative;
  bottom: 3px;
  max-height: 28px;
}

.banner-container .row .col-lg-3 #language {
  background-color: black;
  color: white;
  border: none;
  outline: none;
  position: relative;
  bottom: 5px;
}

@media only screen and (max-width: 479px) {
  .banner-container {
    padding-bottom: 20px !important;
  }
}

/* Header Component CSS */

.navbar .container-fluid .mb-lg-0 .text-nav {
  font-size: 24px;
  font-weight: 700;
  font-family: "Inter";
}

.navbar .container-fluid .navbar-collapse .w-100 .mt-lg-0 .nav-links {
  font-family: "Poppins";
  font-weight: 400;
  color: #000000;
}

.navbar .container-fluid .navbar-collapse .flex-lg-row .mt-lg-0 .input-search {
  max-width: 425px;
  border-radius: 4px;
}

.navbar
  .container-fluid
  .navbar-collapse
  .flex-lg-row
  .mt-3
  .input-search
  input {
  padding: 7px 12px 7px 20px;
  border: none;
  outline: none;
  width: 215px;
  padding-right: 10px;
  background-color: #f5f5f5;
  font-size: 12px;
  font-weight: 400;
  font-family: "Poppins";
  color: #000000;
}

.navbar .container-fluid .navbar-collapse .flex-lg-row .mt-3 .input-search img {
  background-color: #f5f5f5;
  padding: 10px;
}

.navbar .container-fluid .navbar-collapse .flex-lg-row .mt-3 a.active {
  border-bottom: 1px solid black;
}

@media only screen and (min-width: 992px) {
  .w-md-50 {
    width: 50% !important;
    padding-left: 70px;
  }
}

@media only screen and (max-width: 479px) {
  .navbar .container-fluid {
    padding-bottom: 30px !important;
  }
  .navbar {
    padding: 0 !important;
  }
}

/* Signup Page & Login Page CSS */

.container-fluid .row .col-lg-5 {
  padding-left: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.container-fluid .row .col-lg-5 form {
  max-width: 330px;
  max-height: 530px;
}

.container-fluid .row .col-lg-5 form .mb-3 .mb-0 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 36px;
}

.container-fluid .row .col-lg-5 form .mb-5 p {
  font-family: "Poppins";
  font-weight: 400;
}

.container-fluid .row .col-lg-5 form .mb-4 input,
.container-fluid .row .col-lg-5 form .mb-5 input {
  border: none;
  outline: none;
  font-family: "Poppins";
  font-weight: 400;
  border-bottom: 1px solid #000000;
  opacity: 40%;
  width: 100%;
}

.container-fluid .row .col-lg-5 form .mb-4 .btn-submit {
  padding: 16px 101px;
  border-radius: 4px;
  background-color: #db4444;
  border: none;
  font-family: "Poppins";
  font-weight: 500;
  color: #fafafa;
}

.container-fluid .row .col-lg-5 form .bg-light {
  padding: 16px 30px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.container-fluid .row .col-lg-5 form .d-flex .signup-btn {
  border: none;
  outline: none;
  font-family: "Poppins";
  font-weight: 400;
}

.container-fluid .row .col-lg-5 form .mb-4 .me-2 {
  font-family: "Poppins";
  font-weight: 400;
  opacity: 70%;
}

.container-fluid .row .col-lg-5 form .mb-4 p a {
  color: #000000;
  font-family: "Poppins";
  font-weight: 500;
  opacity: 70%;
  text-decoration: none;
}

@media only screen and (max-width: 992px) {
  .container-fluid .row .col-lg-7 img {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 350px) {
  .btn-submit {
    padding: 17px 80px !important;
  }
}

/* Footer Component CSS */

.container-fluid .row .col-12 .mb-3 h3 {
  font-weight: 700;
  font-size: 24px;
  font-family: "Inter";
}

.container-fluid .row .col-12 .mb-3 .main-heading {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
}

.container-fluid .row .col-12 .mb-3 .main-para {
  font-family: "Poppins";
  font-weight: 400;
}

.container-fluid .row .col-12 .mb-3 .border {
  padding: 8px;
  outline: none;
  background-color: black;
  max-width: 164px;
  font-family: "Poppins";
  font-weight: 400;
}

.new-user {
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 500;
}

.copyright-section {
  color: #f9f9f9;
  opacity: 20%;
}

/* Contact Component CSS */

.container-fluid .row nav .breadcrumb .breadcrumb-item a,
.container-fluid .row nav .breadcrumb .breadcrumb-item {
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.container-fluid .row .col-lg-3 .mb-4 .mb-3 .row-heading {
  font-weight: 500;
  font-family: "Poppins";
  position: relative;
  top: 10px;
  left: 15px;
}

.container-fluid .row .col-lg-3 .mb-4 .mb-3 .row-paragraph {
  font-weight: 400;
  font-size: 14px;
  font-family: "Poppins";
}

.container-fluid .row .col-lg-9 .row .col-lg-3 .input-contact {
  font-family: "Poppins";
  opacity: 50%;
  border: none;
  outline: none;
  background-color: #f5f5f5;
  padding: 10px;
}

.container-fluid .row .col-lg-9 .row .col-lg-3 {
  background-color: #f5f5f5;
  border-radius: 4px;
}

.container-fluid .row .col-lg-9 .row .col-12 textarea {
  font-family: "Poppins";
  background-color: #f5f5f5;
  font-weight: 400;
  border-radius: 4px;
  outline: none;
  border: none;
  /* opacity: 50%; */
  padding: 8px 20px;
  /* color:  #f5f5f5; */
}

.container-fluid .row .col-lg-9 .row .col-12 .message-btn {
  background-color: #db4444;
  padding: 16px 48px;
  border: none;
  border-radius: 4px;
  color: #fafafa;
  font-family: "Poppins";
  font-weight: 500;
  margin-right: 23px;
}

@media only screen and (max-width: 991px) {
  .container-fluid .row .col-lg-9 .px-4,
  .container-fluid .row .col-lg-9 .px-4 .col-12 {
    padding: 0 !important;
  }
  .message-btn {
    width: 100%;
    float: none !important;
  }
  .contact-container {
    padding: 40px 130px 130px 110px !important;
  }
}

@media only screen and (max-width: 479px) {
  .contact-container {
    padding: 40px 40px 130px 40px !important;
  }
}

/* About Component CSS */

.about-container .row nav .breadcrumb .breadcrumb-item {
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins";
}

.about-container .row .col-lg-6 .mb-3 .story-para {
  font-size: 54px;
  font-weight: 600;
  font-family: "Inter";
  color: #000000;
}

.about-container .row .col-lg-6 .mb-3 .paragraph {
  font-weight: 400;
  font-family: "Poppins";
  color: #000000;
}

.about-container .row .col-3 {
  border: 1px solid #0000004d;
  border-radius: 4px;
  width: 300px;
  padding: 25px;
}

.about-container .row .col-3 .about-para {
  font-weight: 700;
  font-family: "Inter";
  font-size: 32px;
}

.about-container .row .col-3 .paragraph {
  font-family: "Poppins";
  font-weight: 400;
}

.about-container .row .card .card-body .card-title {
  font-weight: 500;
  font-family: "Inter";
  font-size: 32px;
}
.about-container .row .card .card-body .card-text {
  font-family: "Poppins";
  font-weight: 400;
}

.about-container .row .story-section {
  padding: 40px 110px;
}

.about-container .box-section {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.about-container .box-section .col-3:hover {
  background-color: #db4444;
  color: #f5f5f5;
}

@media only screen and (max-width: 992px) {
  .image {
    padding-right: 13px;
  }
  .story-section {
    padding: 0 20px 40px;
  }
}

@media only screen and (max-width: 600px) {
  .box-section {
    padding: 25px;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .about-container .image-slider-swipper {
  padding: 10px 110px;
} */

.about-container .image-slider-swipper .mb-5 .row .card .card-body {
  text-align: start;
}

.about-container .image-slider-swipper .mb-5 .row .card {
  margin-bottom: 20px;
}

.about-container .about-main .about-page-content {
  padding: 45px;
  text-align: center;
}

.about-container .about-main .about-page-content .mb-3 .about-content-para {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
}

.about-container .about-main .about-page-content .mb-3 .about-last {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
}

@media only screen and (max-width: 992px) {
  .about-main {
    padding: 20px 40px !important;
  }
}

/* Home Page Component CSS */

.home-container .row .col-3 .mb-2 .home-para {
  font-family: "Poppins";
  font-weight: 400;
}

.home-container .row .col-3 .mb-2 {
  /* position: relative;
  bottom: 7px;
  left: 70px; */
  max-width: 250px;
}

.home-container .row .col-3 {
  padding: 35px 20px 35px 110px;
}

.home-main {
  --bs-gutter-x: 0;
}

.home-main .about-page-content {
  padding: 45px;
  text-align: center;
}

.home-main .about-page-content .mb-3 .about-content-para {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
}

.home-main .about-page-content .mb-3 .about-last {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
}

@media only screen and (max-width: 992px) {
  .about-main {
    padding: 20px 40px !important;
  }
}

/* Today's Component CSS */

.today-container .container .box {
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background-color: #db4444;
}

.today-container .container p {
  font-family: "Poppins";
  font-weight: 600;
  color: #db4444;
}

.today-container .container .row .col-lg-3 .card img {
  height: 182px;
  width: 100%;
  /* text-align: center; */
}

.today-container .container .row .col-lg-3 .card .heart,
.today-container .container .row .col-lg-3 .card .eye {
  height: 34px;
  width: 34px;
}

.today-container .container .row .col-lg-3 .card .heart {
  position: absolute;
  right: 10px;
  top: 10px;
}
.today-container .container .row .col-lg-3 .card .eye {
  position: absolute;
  right: 10px;
  top: 60px;
}

.today-container
  .container
  .row
  .col-lg-3
  .card
  .images-container
  .text-container {
  padding: 4px 12px;
  background-color: #db4444;
  max-width: 28%;
  border-radius: 4px;
  position: absolute;
  top: 5px;
  left: 8px;
  color: #fafafa;
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 400;
}

.today-container .container .row .col-12 .card .images-container .card-img-top {
  padding: 40px 40px 25px 10px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.today-container .container .row .col-12 .card .card-body .card-title {
  font-family: "Poppins";
  font-weight: 500;
  color: #000000;
}

.today-container .container .row .col-12 .card .card-body .paragraph .me-2 {
  font-family: "Poppins";
  font-weight: 500;
  color: #db4444;
}

.today-container .container .row .col-12 .card .card-body .paragraph .para {
  color: #000000;
  opacity: 50%;
  text-decoration: line-through;
  font-weight: 500;
}

.today-container .container .row .col-12 .card .card-body .paragraph .me-2 {
  margin-bottom: 5px;
}

.today-container .container .row .col-12 .card .card-body .star-container {
  max-width: 60%;
  /* background-color: red; */
  /* max-height: 20px; */
}

.today-container
  .container
  .row
  .col-12
  .card
  .card-body
  .star-container
  .star-images {
  /* height: 5px; */
  max-width: 60%;
  /* padding-right: 10px; */
  /* background-color: black; */
}

.today-container
  .container
  .row
  .col-12
  .card
  .card-body
  .star-container
  .star-images
  img {
  height: 20px;
  max-width: 20%;
}

.today-container
  .container
  .row
  .col-12
  .card
  .card-body
  .star-container
  .image-para {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  opacity: 50%;
}

.today-container .container .row .btn-product {
  max-width: 300px;
  background-color: #db4444;
  text-align: center;
  color: #fafafa;
  padding: 1rem 3rem;
  border-radius: 4px;
  font-family: "Poppins";
  font-weight: 500;
}

@media only screen and (max-width: 350px) {
  .today-container .container .row .btn-product {
    padding: 1rem 2rem;
  }
}

/* Category Component CSS */

.category-container .container .box {
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background-color: #db4444;
}

.category-container .container p {
  font-family: "Poppins";
  font-weight: 600;
  color: #db4444;
  position: relative;
  top: 7px;
}

.category-container .container .mb-3 .browse {
  font-weight: 600;
  font-family: "Inter";
  font-size: 36px;
  color: #000000;
}

.category-container .container .row .col-2 .phones p {
  font-weight: 400;
  font-family: "Poppins";
  color: #000000;
}

.category-container .container .row .col-2 {
  height: 180px;
  width: 200px;
}

.category-container .container .row .col-2:hover {
  background-color: #db4444;
}

@media only screen and (max-width: 480px) {
  .category-container .container {
    padding: 20px 60px !important;
  }
}

/* Month Component CSS */

.month-container .container .box {
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background-color: #db4444;
}

.month-container .container p {
  font-family: "Poppins";
  font-weight: 600;
  color: #db4444;
  position: relative;
  top: 7px;
}

.month-container .container .row .selling .sell {
  font-weight: 600;
  font-family: "Inter";
  font-size: 36px;
  color: #000000;
}

.month-container .container .box {
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background-color: #db4444;
}

.month-container .container p {
  font-family: "Poppins";
  font-weight: 600;
  color: #db4444;
}

.month-container .container .row .col-lg-3 .card img {
  height: 182px;
  width: 100%;
  /* text-align: center; */
}

.month-container .container .row .col-lg-3 .card .heart,
.month-container .container .row .col-lg-3 .card .eye {
  height: 34px;
  width: 34px;
}

.month-container .container .row .col-lg-3 .card .heart {
  position: absolute;
  right: 10px;
  top: 10px;
}
.month-container .container .row .col-lg-3 .card .eye {
  position: absolute;
  right: 10px;
  top: 60px;
}

.month-container
  .container
  .row
  .col-lg-3
  .card
  .images-container
  .text-container {
  padding: 4px 12px;
  background-color: #db4444;
  max-width: 28%;
  border-radius: 4px;
  position: absolute;
  top: 5px;
  left: 8px;
  color: #fafafa;
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 400;
}

.month-container .container .row .col-12 .card .images-container .card-img-top {
  padding: 40px 40px 25px 10px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.month-container .container .row .col-12 .card .card-body .card-title {
  font-family: "Poppins";
  font-weight: 500;
  color: #000000;
}

.month-container .container .row .col-12 .card .card-body .paragraph .me-2 {
  font-family: "Poppins";
  font-weight: 500;
  color: #db4444;
}

.month-container .container .row .col-12 .card .card-body .paragraph .para {
  color: #000000;
  opacity: 50%;
  text-decoration: line-through;
  font-weight: 500;
}

.month-container .container .row .col-12 .card .card-body .paragraph .me-3 {
  margin-bottom: 5px;
}

.month-container .container .row .col-12 .card .card-body .star-container {
  max-width: 60%;
  /* background-color: red; */
  /* max-height: 20px; */
}

.month-container
  .container
  .row
  .col-12
  .card
  .card-body
  .star-container
  .star-images {
  /* height: 5px; */
  max-width: 60%;
  /* padding-right: 10px; */
  /* background-color: black; */
}

.month-container
  .container
  .row
  .col-12
  .card
  .card-body
  .star-container
  .star-images
  img {
  height: 20px;
  max-width: 20%;
}

.month-container
  .container
  .row
  .col-12
  .card
  .card-body
  .star-container
  .image-para {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  opacity: 50%;
  position: relative;
  top: 2px;
}

.month-container .container .row .button .border {
  background-color: #db4444;
  color: #fafafa;
  font-family: "Poppins";
  border-radius: 4px;
  padding: 16px 48px;
  height: 56px;
}

.month-container .frame-container {
  background-color: #000000;
}

.month-container .frame-container .row .col-6 .mb-3 .category {
  font-weight: 600;
  color: #00ff66;
  font-family: "Poppins";
}

.month-container .frame-container .row .col-6 .mb-3 .experience {
  font-family: "Inter";
  font-weight: 600;
  font-size: 48px;
  color: #fafafa;
}

.month-container .frame-container .row .col-6 .mb-3 .buy-btn {
  background-color: #00ff66;
  color: #fafafa;
  padding: 16px 48px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-family: "Poppins";
}

/* .left {
  width: 100%;
} */

@media only screen and (max-width: 767px) {
  .month-container .container .row .button .border {
    width: 100% !important;
  }
}

@media only screen and (max-width: 767px) {
  .boombox {
    display: none;
  }
  .left {
    width: 100%;
  }
  .frame-1 {
    width: 100%;
  }
}

/* Products Component CSS */

.product-container .container .box {
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background-color: #db4444;
}

.product-container .container p {
  font-family: "Poppins";
  font-weight: 600;
  color: #db4444;
  position: relative;
  top: 7px;
}

.product-container .container .mb-3 .browse {
  font-weight: 600;
  font-family: "Inter";
  font-size: 36px;
  color: #000000;
}

.product-container .container .row .col-lg-3 .card img {
  height: 182px;
  width: 100%;
  /* text-align: center; */
}

.product-container .container .row .col-lg-3 .card .heart,
.product-container .container .row .col-lg-3 .card .eye {
  height: 34px;
  width: 34px;
}

.product-container .container .row .col-lg-3 .card .heart {
  position: absolute;
  right: 10px;
  top: 10px;
}
.product-container .container .row .col-lg-3 .card .eye {
  position: absolute;
  right: 10px;
  top: 60px;
}

.product-container
  .container
  .row
  .col-lg-3
  .card
  .images-container
  .text-container {
  padding: 4px 12px;
  background-color: #db4444;
  max-width: 28%;
  border-radius: 4px;
  position: absolute;
  top: 5px;
  left: 8px;
  color: #fafafa;
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 400;
}

.product-container
  .container
  .row
  .col-12
  .card
  .images-container
  .card-img-top {
  padding: 40px 40px 25px 10px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.product-container .container .row .col-12 .card .card-body {
  height: 150px;
}

.product-container .container .row .col-12 .card .card-body .card-title {
  font-family: "Poppins";
  font-weight: 500;
  color: #000000;
  /* width: 185px; */
}

.product-container .container .row .col-12 .card .card-body .paragraph .me-2 {
  font-family: "Poppins";
  font-weight: 500;
  color: #db4444;
}

.product-container .container .row .col-12 .card .card-body .paragraph .para {
  color: #000000;
  opacity: 50%;
  text-decoration: line-through;
  font-weight: 500;
}

.product-container .container .row .col-12 .card .card-body .paragraph .me-2 {
  margin-bottom: 5px;
}

.product-container .container .row .col-12 .card .card-body .star-container {
  max-width: 60%;
  /* background-color: red; */
  /* max-height: 20px; */
}

.product-container
  .container
  .row
  .col-12
  .card
  .card-body
  .star-container
  .star-images {
  /* height: 5px; */
  max-width: 60%;
  /* padding-right: 10px; */
  /* background-color: black; */
}

.product-container
  .container
  .row
  .col-12
  .card
  .card-body
  .star-container
  .star-images
  img {
  height: 20px;
  max-width: 20%;
}

.product-container
  .container
  .row
  .col-12
  .card
  .card-body
  .star-container
  .image-para {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  opacity: 50%;
  position: relative;
  top: 2px;
}

.new {
  background-color: #00ff66 !important;
}

.colour-change img {
  height: 26px !important;
  width: 40px !important;
}

.colour-change {
  position: relative;
  bottom: 10px;
}

.product-container .row .btn-product {
  max-width: 300px;
  background-color: #db4444;
  text-align: center;
  color: #fafafa;
  padding: 1rem 3rem;
  border-radius: 4px;
  font-family: "Poppins";
  font-weight: 500;
}

@media only screen and (max-width: 350px) {
  .product-container .row .btn-product {
    padding: 1rem 2rem;
  }
}

@media only screen and (max-width: 767px) {
  .category-buttons {
    display: none !important;
  }
}

/* Featured Component CSS */

.featured-container .container .box {
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background-color: #db4444;
}

.featured-container .container p {
  font-family: "Poppins";
  font-weight: 600;
  color: #db4444;
}

.featured-container .container .mb-3 .new-arrival {
  font-weight: 600;
  font-family: "Inter";
  font-size: 36px;
  color: #000000;
}

.img-arrival {
  padding-left: 70px;
  width: 100%;
  height: 100%;
}

.contents {
  position: absolute;
  bottom: 15px;
  width: 65%;
  left: 31px;
}

.playstation {
  font-weight: 600;
  font-size: 24px;
  font-family: "Inter";
  color: #fafafa !important;
}

.ps5 {
  font-size: 14px;
  font-weight: 400 !important;
  font-family: "Poppins";
  color: #fafafa !important;
}

.shopnow {
  font-family: "Poppins";
  font-weight: 500 !important;
  color: #ffffff !important;
  border: none;
  background: none;
}

.upper-container {
  background-color: #0d0d0d;
}

/* .arrival-2-contents {
  height: 200px;
  width: 300px;
  padding-top: 85px;
  padding-left: 20px;
}

.women {
  font-size: 24px !important;
  font-family: "Inter" !important;
  font-weight: 600 !important;
  color: #fafafa !important;
}

.featured-women-text {
  font-size: 14px !important;
  font-weight: 400 !important;
  font-family: "Poppins" !important;
  color: #FAFAFA !important;
}

.upper {
  background-color: #0D0D0D;
  border-radius: 4px;
}

.arrival-2 img {
  height: 268px;
  width: 100%;
} */

.upper {
  height: 50%;
  width: 100%;
}

.arrival-contents {
  max-width: 40%;
  height: 100%;
  padding: 25px;
}

.image-arrival {
  width: 100%;
}

.women {
  font-family: "Inter" !important;
  font-weight: 600 !important;
  font-size: 24px !important;
  color: #fafafa !important;
}

.featured-women {
  font-family: "Poppins" !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #fafafa !important;
}

.arrival-2-contents {
  padding: 25px;
}

/* Checkout Page CSS */

.checkout-container .container nav .breadcrumb .breadcrumb-item a,
.checkout-container .container nav .breadcrumb .breadcrumb-item {
  font-family: "Poppins";
  font-size: 14px;
  opacity: 50%;
  color: #000000 !important;
}

.billing-details {
  font-family: "Inter";
  font-weight: 500;
  font-size: 36px;
  color: #000000;
}

.label-name {
  font-family: "Poppins";
  font-weight: 400;
  opacity: 40%;
}

.input-fields {
  background-color: #f5f5f5;
  border-radius: 4px;
  outline: none;
}

.paragraph-field {
  font-family: "Poppins" !important;
  font-weight: 400 !important;
  color: #000000 !important;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin: 10px;
}

input[type="checkbox"]:checked {
  background-color: #db4444 !important;
  border: 1px solid black;
}

input[type="radio"] {
  transform: scale(1.5);
  margin: 10px;
}

.coupon {
  outline: none;
  /* width: 45%; */
}

.apply-coupon,
.place-order {
  background-color: #db4444;
  /* width: 45%; */
  color: #fafafa;
  font-family: "Poppins";
  font-weight: 500;
}

.price-item {
  border-bottom: 1px solid black;
}



@media only screen and (max-width: 767px) {
  .checkout-container .right-container {
    padding: 0;
  }
  .input-fields {
    width: 100% !important;
  }
}