.home-container .row .col-lg-9 .swiper {
  width: 100%;
  height: 100%;
}

.home-container .row .col-lg-9 .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container .row .col-lg-9 .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-container .row .col-9{
    max-width: 980px;
}

.home-container .row .col-9 .mySwiper SwiperSlide img {
  width: 100%;
  object-fit: cover;
}

.home-container .row .col-9 {
  padding: 40px;
}
